body {
    background: linear-gradient(#a78325, #c69420)
}

h1 {
    color: blue;
    text-transform: uppercase;
}

h2 {
    color: lightsalmon;
    text-decoration: underline;
}

h3 {
    /* color: purple;
    background-color:lightskyblue; */
}

h4 {
    color:lightslategrey;
    background-color: lightyellow;
}